{% extends "main/base_layer.html" %}
{% block title %}Задачи - DP{% endblock %}
{% block css %}
.scrolling {
width: 99hw;
overflow-x: scroll; 
overflow-y: scroll; 
}
{% endblock %}
{% block content %}
<main>
    <div class='navbar'>
        <a class="text-decoration-none" href="{% url 'task_create' %} ">
            <button class="btn btn-outline-primary">
                Создать задачу
            </button>
        </a>
        <a class="text-decoration-none" href="{% url 'correct_task' %} ">
            <button class="btn btn-outline-primary">
                Корректировки
            </button>
        </a>
        <a class="text-decoration-none" href="{% url 'task_returned' %} ">
            <button class="btn btn-outline-primary">
                Возвраты
            </button>
        </a>
    </div>
    <div class='scrolling'>
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td>Исполнитель</td>
                <td>Дата</td>
                <td>Состояние</td>
            </tr>
            {% for tas in task %}
            <tr>
                
                <td><a href="/task/base/{{ tas.id }}">{{ tas.id }}</a></td>
                <td>{{ tas.name }}</td>
                <td>{{ tas.executor }}</td>
                <td>{{ tas.date }}</td>
                <td>{{ tas.state }}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
</main>
{% endblock %}
            <input type="text" id="id_author" value="{{ user.id }}">
            <input type="text" id="id_state" value="{{ perm }}">