{% extends "main/base_layer.html" %}
{% block title %}Задача  - DP{% endblock %}
{% block content %}
<main>    {% for tas in task %}
        <div class='card'>
            <div class='card-header'>
                <h5 class="">{{ tas.author }} —> {{ tas.executor }}
                </h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    {{ tas.name }} - {{ tas.state }}
                </h5>
                <p class='text-warning'>
                    {{ tas.date }}
                </p>
            </div>
        </div>
 

    {{ tas.name }}<br>
    {{ tas.descriptions }}<br>
    {{ tas.state }}<br>
    {% for state in states %}
    <div class="navbar">
        <button class="btn btn-outline-primary">
            <a class="text-decoration-none" href="/task/base/{{ tas.id }}/{{ state.id }}">{{ state.name }}</a>
        </button>
    </div>
    {% endfor %}
    {% endfor %}

</main>
{% endblock %}
  