{% extends "main/base_layer.html" %}
{% block title %}Возвраты - DP{% endblock %}
{% block css %}
.skrolling {
width: 99hw;
overflow-x: scroll; 
overflow-y: scroll; 
}
{% endblock %}
{% block content %}
<main>
    <div class='skrolling'>
        <table class="table">
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td>Исполнитель</td>
                <td>Дата</td>
                <td>Состояние</td>
            </tr>
            {% for tas in task %}
            <tr>
                <td>{{ tas.id }}</td>
                <td>{{ tas.name }}</td>
                <td>{{ tas.executor }}</td>
                <td>{{ tas.date }}</td>
                <td>{{ tas.state }}</td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
</main>
{% endblock %}
  