{% extends "main/base_layer.html" %}
{% block title %}Главная - DP{% endblock %}
{% block content %}
<div>
    {% if task %}
     <h2 class="bs-title">Задачи требующие вашего внимания:</h2>
    {% endif %}
   
    {% for tas in task %}
        <div class='card'>
            <div class='card-header'>
                <h5 class="">{{ tas.author }} —> {{ tas.executor }}
                </h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    {{ tas.name }} - {{ tas.state }}
                </h5>
                <p class='text-warning'>
                    {{ tas.date }}
                </p>
            </div>
        </div>
	{% endfor %}
</div>
{% endblock %}